<nav class="navbar navbar-expand-md bg-body-tertiary main-nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Badge Buddy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav nav-tabs w-100 justify-content-between align-items-center">
        <div class="d-flex web-pages">
          <li class="nav-item">
            <a class="nav-link <%= activePage === 'home' ? 'active' : '' %>" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a href="/badge-explorer" aria-current="page" class="nav-link <%= activePage === 'badge-explorer' ? 'active' : '' %>">Badges</a>
          </li>
          <li class="nav-item">
            <a href="/contact" aria-current="page" class="nav-link <%= activePage === 'contact' ? 'active' : '' %>">Help</a>
          </li>
        </div>
        <div class="d-flex">
          <li class="nav-item">
            <a href="/login" aria-current="page" class="nav-link login-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="/signup" aria-current="page" class="nav-link signup-link">Sign Up</a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>


