$prefix: "bs-";
$nav-tabs-border-width: 1px;
$nav-tabs-border-color: #001830;
$nav-tabs-border-radius: 0.375rem;
$nav-tabs-link-hover-border-color: white;
$nav-tabs-link-active-color: white;
$nav-tabs-link-active-bg: #fff;
$nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff;

.nav-tabs {
  --#{$prefix}nav-tabs-border-width: #{$nav-tabs-border-width};
  --#{$prefix}nav-tabs-border-color: #{$nav-tabs-border-color};
  --#{$prefix}nav-tabs-border-radius: #{$nav-tabs-border-radius};
  --#{$prefix}nav-tabs-link-hover-border-color: #{$nav-tabs-link-hover-border-color};
  --#{$prefix}nav-tabs-link-active-color: #{$nav-tabs-link-active-color};
  --#{$prefix}nav-tabs-link-active-bg: #{$nav-tabs-link-active-bg};
  --#{$prefix}nav-tabs-link-active-border-color: #{$nav-tabs-link-active-border-color};
  border-bottom: none;
  border-radius: var(--bs-nav-tabs-border-radius);

  .nav-link {
    color: white;

    &:hover {
      border-color: var(--bs-nav-tabs-link-hover-border-color);
      border-radius: var(--bs-nav-tabs-border-radius);
      background-color: #005028;
    }

    &.active {
      border-radius: var(--bs-nav-tabs-border-radius);
      background-color: #d8ffec;
      color: #001b0d;
      border-color: var(--bs-nav-tabs-link-active-border-color);
    }

    &.login-link {
      color: white;
      border-radius: var(--bs-nav-tabs-border-radius);
      font-weight: 600;
      padding: 0.3rem 1rem;
      margin-left: 0.5rem;
    }

    &.signup-link {
      background-color: #000000;
      color: white;
      border-radius: var(--bs-nav-tabs-border-radius);
      padding: 0.3rem 1rem;
      margin-left: 0.5rem;
      transition: background-color 0.2s;
    }
  }
}

.navbar {
  --#{$prefix}nav-tabs-border-radius: #{$nav-tabs-border-radius};

  margin: 10px;
  background-color: #00AE58;
  color: white;
  border-radius: var(--bs-nav-tabs-border-radius);
}

#inside {
  --#{$prefix}nav-tabs-border-radius: #{$nav-tabs-border-radius};

  margin: 10px;
  padding: 10px;
  border-radius: var(--bs-nav-tabs-border-radius);
  background-color: #d8ffec;
  overflow: hidden;
}

